{{> header}}

<div class="container-fluid m-2 p-5 bg-primary text-center">
    <h1>Les Marvels</h1>

    <div class="mb-3">
        <button class="btn btn-secondary" onclick="changeView('li')">Vue Liste</button>
        <button class="btn btn-primary" onclick="changeView('card')">Vue Cartes</button>
    </div>

    <div class="row" id="view-container">
        {{> card }}  {{!-- Affichage par défaut --}}
    </div>
</div>

<div class="container m-2 p-5 bg-primary text-center">
    <h2>Mes comics</h2>
</div>

{{> footer}}
